<header class="site-header">
   
    <div class="user-wrap" *ngIf="cache.loggedIn">
        <div class="dropdown-wrap">
            <button type="button" class="current-user" [mdePopoverTriggerFor]="userPopover" mdePopoverTriggerOn="click">{{cache.user.userFullName}}</button>
            <mde-popover #userPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
                <ul class="dropdown-content">
                    <!-- <li><a href="javascript:;">Profile</a></li> -->
                    <li>
                        <a href="javascript:;" (click)="logout()">Logout</a>
                    </li>
                </ul>
            </mde-popover>
        </div>
    
    </div>
</header>
