<div class="page-content">
    <div class="error-body">
        <div class="error-wrap">
            <h1 *ngIf="error != 404 && error != 0" [class.error-timeout]="(error == 'Timeout!')">{{error}}</h1>
            <div *ngIf="error == 400">
                <p [innerHTML]="'error_400_message' | translate"></p>
            </div>
            <div *ngIf="error == 401">
                <p [innerHTML]="'error_401_message' | translate"></p>
            </div>
            <div *ngIf="error == 404">
                <p [innerHTML]="'error_404_title' | translate"></p>                
                 <p class="explanation" [innerHTML]="'error_404_heading' | translate"></p>
                 <p>The request URL <b>{{currentURL}} </b> was not found on this server.</p>
            </div>
            <div *ngIf="error == 0">
                <!-- <p class="explanation" [innerHTML]="'error_0_heading' | translate"></p> -->
                <p [innerHTML]="'error_0_message' | translate"></p>
            </div>
            <div *ngIf="error == 500">
                <p [innerHTML]="'error_500_message' | translate"></p>
            </div>
            <div *ngIf="error == 403">
                <p [innerHTML]="'error_403_title' | translate"></p>
                <p class="explanation" [innerHTML]="'error_403_heading' | translate"></p>
                <p [innerHTML]="'error_403_message' | translate"></p>
                <button type="button" class="btn" (click)="goToHome()">Home Page</button>

            </div>
        </div>
    </div>
</div>